*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
margin:0;
background:#d5e2f0;
}

h1{
    padding: 15px 0px 0px 10px;
    color:#4e5e86
}

.controls{
    padding: 10px;
}

header{
background:#0f172a;
color:white;
padding:20px;
text-align:center;
font-size:24px;
}

.container{
display:flex;
gap:20px;
padding:5px 20px 20px;
}

.form-panel{
width:35%;
background:white;
padding:20px;
border-radius:20px;
}

.list-panel{
width:65%;
background:white;
padding:20px;
border-radius:20px;
}

.form-group{
margin-bottom:15px;
}

label{
display:block;
margin-bottom:6px;
font-weight:bold;
}

input, select, textarea{
width:100%;
padding:8px;
border:1px solid #ccc;
border-radius:6px;
}

textarea{
min-height:90px;
resize:vertical;
}

button{
font-weight:bold;
padding:10px;
background-color:#4b5c86;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
transition: 0.2s;
}

button:hover{
background-color:#abc0d6;
transform: scale(1.1);
}

.error{
color:red;
margin-top:15px;
font-weight:bold;
min-height: 20px;
}

.invalid{
    border:2px solid red;
    background:#fff0f0;
}

.error-text{
    color:red;
    font-size:12px;
    margin-top:4px;
    min-height: 14px;
}


table{
width:100%;
border-collapse:collapse;
}

thead{
background:#1e293b;
color:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
}
